@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;600;700;900&display=swap');

body {
    font-family: 'Source Sans Pro', sans-serif;
    color: white;
}


#heading {
    background-color: #2B3467;
}

 #heading nav div {
     margin: 2% 10%; 
}

#heading nav div a{
    font-size: 1rem;
    color: #FCFFE7;
} 

 #heading nav div a i{
    color: #FCFFE7;
     margin-right: 8%; 
 } 
 
 .padding {
    padding-top: 4%;
    padding-bottom: 10%;
    padding: 0 auto;
 }

 .form {
    margin-top: 20px;
    width: 60%;
    height: 55px;
    border: none;
    border-radius: 10px;
    text-align: center;
    font-size: 1rem;
    outline: 3px solid transparent;
    font-family: Roboto;
    color: #353535;
    font-weight: 500;
    transition: outline 0.2s ease-in-out;
}

.form:focus{
    outline: 3px solid #4e5eb8;
}

.col h2 {
    font-weight: 900;
}

.btn-custom {
    font-size: 1.1rem;
    margin-top: -0.3%;
    margin-left: -13%;
}

::placeholder {
    text-align: center;
}

#last h2 {
    margin-top: 50px;
    color: #2B3467;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 700;
}

.col-lg-12 i {
    color: #2B3467;
}

.svg-main {
    margin: 5%;
}

.svg {
    width: 100px;
    filter: invert(51%) sepia(12%) saturate(8%) hue-rotate(335deg) brightness(96%) contrast(86%);
    /* margin-left: 70px; */
    align-items: center;
    transition: 0.3s ease-in-out;
    opacity: 0.5;
}

.svg:hover {
    opacity: 1;
    filter: invert(19%) sepia(7%) saturate(5756%) hue-rotate(196deg) brightness(99%) contrast(93%);
}

.svg-middle {
    margin: 0 70px;
}
/* Loader */

.progress {
    width: 172.8px;
    height: 31.7px;
    border-radius: 28.8px;
    color: #eb455f;
    border: 2.9px solid;
    position: relative;
 }
 
 .progress::before {
    content: "";
    position: absolute;
    margin: 2.9px;
    inset: 0 100% 0 0;
    border-radius: inherit;
    background: currentColor;
    animation: progress-pf82op 15s infinite;
 }
 
 @keyframes progress-pf82op {
    100% {
       inset: 0;
    }
 }

 .row-custom {
    --bs-gutter-x: 0;
 }

 .js-hide{
    display: none;
 }

 .js-btn{
    text-align: center;
    padding-bottom: 100px;
    margin-top: -70px;
 }

.download-padding {
    padding-top: 50px;
}

.thumbnail {
    margin-left: 3.5%;
}

.thumbnail img {
    padding-bottom: 20px;
    position: relative;
    left: 15%;
}

.test-div {
    width: 30%;
    margin-left: 35%;
    position: relative;
    left: 15%;
}
.download-btn {
    margin-left: -16%;
    margin-top: 25px;
}

.download-btn a {
    font-size: 1.1rem;
}

#footer {
    color: #2B3467;
    text-align: center;
}

#thumbnail {
    width: 20%;
}

#spin {
    text-align: center;
    margin: 0 auto;
    margin-top: -100px;
}

.error {
    margin-top: -100px;
    color: #eb455f;
}

@media (max-width: 1200px) {

    .form {
        margin-top: 20px;
        width: 80%;
        height: 50px;
        border-radius: 10px;
        text-align: center;
        font-size: 1rem;
    }

    .btn-custom {
        margin: auto;
        size: 50%;
    }

    #spin {
        margin-top: -70px;
    }

    
}

@media (max-width: 993px){
    .download-btn {
        margin: 0 auto;
        padding-top: 30px;
    }
    .test-div {
        margin-left: 21.5%;
        width: 200px;
    }
    .thumbnail img{
        margin: 0 auto;
        margin-right: 37%;
        margin-top: -30px;
    }
}

@media (max-width: 767px){

    .form {
        height: 45px;
    }

    .btn-custom {
        margin-top: 5%;
        height: 40px;
        font-size: 1rem;
    }

    .padding {
        margin-top: 28%;
        padding-bottom: 50%;
    }

    .svg {
        display: flex;
        margin: 0 auto;
    }

    .svg-middle {
        margin: 70px auto;
    }

    #footer {
        margin-top: 50px;
    }

    #last h2 {
        margin-bottom: 50px;
    }
    .test-div {
        margin-left: 11%;
        width: 200px;
    }
    #js {
        margin-top: -200px;
    }
    /* #spin {
        margin-top: -200px;
    } */
    .download-padding p {
        margin-top: 20px;
    }

    #spin {
        margin-top: -210px;
     }
}
